.teksts {
display: flex;
padding: 16px 32px 8px;
margin: 8px 12px;
background-color: #00ffff;
font-family: 'Courier New', Courier, monospace;
font-size: 32px;
}
.arejaKaste {
  border-style: dotted
  border-color: blue;
  background-color: lightblue;
  padding: 9px 9px 9px 9px;
  margin: 9px 9px 9px 9px;
  align-content: left;
  float: center;
  width: 50;
  height: 35;
}
.button1 {
  background-color: #F0FFFF; /* white */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button1:hover {
  background-color: #008000;
  color black;
}
.button2 {
  background-color: #F0FFFF; /* white */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button2:hover {
  background-color: #FF0000;
 color black;
}
